<!DOCTYPE html>
<body>
    <title>Welcome to Orien. Are you ready to experience the power of AI-driven recruiting?</title>
    <style>
        /* Optional CSS to style the anchor as a button */
        .nav-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #007BFF;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            font-weight: bold;
        }
        .nav-button:hover {
            background-color: #0056b3;
        }
      </style>

    <a href="{{ url_for('index') }}" class="nav-button">Yes!</a>


</body>