<!DOCTYPE html>
<html>
<head>
    <style>
        h1 {
            margin: 0 0 20px 0;
        }
        body {
            display: flex;
            justify-content: center;  /* centers horizontally */
            align-items: center;      /* centers vertically */
            text-align: center;       /* centers inline text */
        }
        /* Optional CSS to style the anchor as a button */
        .nav-button {
            display: inline-block;
            margin: 350px 350px 400px 400px;
            padding: 10px 20px;
            background-color: #241d70;
            color: #fff;
            text-decoration: none;
            bor