<!DOCTYPE html>
<html>
<head>
    <title>OrienAI: Jumpstart Your Resume!</title>
    <script>
        function uploadResume() {
            let formData = new FormData();
            const pdfFile = document.getElementById("resume_pdf").files[0];
            // Try to get a file from the DOCX input
            const docxFile = document.getElementById("resume_docx").files[0];
            // Check which file is provided
            if (pdfFile && docxFile) {
                alert("Sorry, we can only support one file upload at at time");
                return
            } else {
                if (pdfFile) {
                formData.append("file", pdfFile);
                formData.append("file_type", "pdf");
            } else if (docxFile) {
                formData.append("file", docxFile);
                formData.append("file_type", "docx");
            } else {
                alert("Sorry, we didn't receive your file!");
                return
            }
        }
            fetch("/", { method: "POST", body: formData })
            .then(response => response.json())
            .then(data => {
                document.getElementById("feedback").innerText = data.feedback;
            });
        }
    </script>
</head>
<body>
    <h1>Upload Your Resume for Review</h1>
    <small>For Word Documents:</small>
    <input type="file" id="resume_docx" accept=".docx, .doc">
    <small>For PDF Documents:</small>
    <input type ="file" id="resume_pdf" accept=".pdf">
    <button onclick="uploadResume()">Analyze</button>
    <h2>Feedback:</h2>
    <p id="feedback"></p>
</body>
</html>
